.container {
    background-color: #2C1E1E;
    width: 1000px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0.6);
  }
  .container div {
    position: absolute;
  }
  